/*comentários*/
/* digita ctrl + ; */
/* limpando o navegador. CSS Reset */
/* há 3 valores globais no css:
inherit - Herança explícita, copia a propriedade do pai para o filho específico
initial - Força a redefinição de valor para o padrão estabelecido
unset - Desabilita uma propriedade CSS
 */



body, h1,h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    outline 0;
}

* {
    /*o asterico significa que o que tá dentro das chaves é para qq tag do html  */
    box-sizing: border-box;
    /*border-box significa que não vai ser um content box*/
}
 /* reponsive web design */
 /*Mobole */
/*body > div {
    se colocar espaço entre body e div, seleciono o filho, se colocar > seleciona todo o filho e quem tiver dentro
    width: 300px;
    height: 300px;
    margin: 5% auto;
    border: solid 10px red;
    padding: 50px 20px;   
}*/

body {
    background-color: #333;
    color: #e4e4e4;
}
/* Quando a largura mínima for 768px aplique este css */
@media (min-width: 768px) {
    /* quanto mais específico o seletor, mais importante, é o que será aplicado
    se ocorrer conflito no css, a especidicidade entra em ação*/
    html body {
        background-color: unset;
        color: initial; 
        /* initial volta a cor inicial */
    }

    body {
        background: red;

    }
}